.main-image-container {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.img-thumbnail.active-thumbnail {
  border-color: #007bff; /* Blue border color */
}
  