

.navbar_icon{
  transform: scale(1.5);
}




/* Extra extra large devices (extra-large desktops) */
@media only screen and (min-width: 1400px) {

}

/* Extra large devices (large desktops and high-resolution displays) */
@media only screen and (max-width: 1400px) and (min-width: 1220px) {
  
}


/* Large devices (desktops and laptops) */
@media only screen and (max-width: 1220px) and (min-width: 992px){
  .navbar_text{
    display: none;
  }
  .navbar_icon{
    transform: scale(2);
  }
  
}

/* Medium devices (tablets and small laptops) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .navbar_text{
    display: none;
  }
  .navbar_icon{
    transform: scale(2);
  }

}


/* Small devices (phones and small tablets) */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .navbar_text{
    display: none;
}
  .navbar_icon{
    transform: scale(2);
  }
}


/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
  .navbar_text{
    display: none;
  }
  .navbar_icon{
    transform: scale(1.5);
  }
}







